<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.quartzcomposer.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleGetInfoString</key>
	<string>OpenCV 2.1 for Quartz ComposeR</string>
	<key>CFBundleVersion</key>
	<string>2.1</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.100414</string>
	<key>QCPlugInClasses</key>
	<array>
		<string>QCCVCanny</string>
		<string>QCCVDilate</string>
		<string>QCCVErode</string>
		<string>QCCVLaplace</string>
		<string>QCCVFindChessboardCorners</string>
	</array>
</dict>
</plist>
